<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>

  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, 'ユーザー検索' %>
    <%= f.search_field :name_cont %>
    <%= f.submit '検索' %>
    <%= link_to "リセット", users_path, class: "btn btn-outline-secondary" %>
  <% end %>
  
<section class="text-gray-600">
  <div class="container px-4 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <%= render @users %>
    </div>
  </div>
</section>
