<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.profile_icon.attached? %>
        <%= image_tag @user.profile_icon.variant(:display) %>
      <% end %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "ユーザー詳細画面", @user %></span>
      <span><strong>Episodes:</strong> <%= @user.episodes.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <% if user.profile_icon.attached? %>
              <%= image_tag user.profile_icon.variant(:display) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>