<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="w-10 rounded-full">
          <% if @user.profile_icon.attached? %>
            <%= image_tag @user.profile_icon %>
          <% else %>
            <%= image_tag("no_image.jpg", alt: "no_image") %>
          <% end %>
        </div>
        <div class="w-40 rounded-full">
          <% if @user.strength_image.attached? %>
            <%= image_tag @user.strength_image %>
          <% else %>
            <%= image_tag("no_image.jpg", alt: "no_image") %>
          <% end %>
        </div>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.episodes.any? %>
      <h3>episodes (<%= @user.episodes.count %>)</h3>
      <ol class="episodes">
        <%= render @episodes %>
      </ol>
      <%= will_paginate @episodes %>
    <% end %>
  </div>
</div>