<%= form_with(model: @episode) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "タイトルを入力" %>
  </div>  

  <div class="field">
    <%= f.text_area :content, placeholder: "エピソードを入力" %>
  </div>

  <div class='form-group'>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <%= tag.label do %>
        <%= tag.check_box class:"btn-check", id:"btn-check#{ tag }", autocomplete:"off" %>
        <label class="btn btn-primary" for="btn-check<%= tag %>">
          <%= tag.text %>
        </label>
      <% end %>
    <% end %>
  </div>

  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>