<li id="episode-<%= episode.id %>">
  <span class="user"><%= link_to episode.user.name, episode.user %></span>
  <span class="content"><%= episode.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(episode.created_at) %> ago.
    <% if current_user?(episode.user) %>
      <%= link_to "削除", episode, data: { "turbo-method": :delete,
                                               turbo_confirm: "投稿を削除します" } %>
    <% end %>
  </span>
</li>