<li id="episode-<%= episode.id %>">
  <% if episode.user.profile_icon.attached? %>
    <%= image_tag episode.user.profile_icon.variant(:display) %>
  <% end %>
  <span class="user"><%= link_to episode.user.name, episode.user %></span>
  <span class="content">
    <%# ↓はヘルパーメソッドに定義している %>
    <%=  html_safe_newline(episode.content) %>
    <%#= episode.content %>
    <% if episode.image.attached? %>
      <%# リサイズ済みのdisplay_imageを使う %>
      <%= image_tag episode.image.variant(:display) %>
    <% end %>
  </span>
  <% episode.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(episode.created_at) %> ago.
    <% if current_user?(episode.user) %>
      <%= link_to "削除", episode, data: { "turbo-method": :delete,
                                               turbo_confirm: "投稿を削除します" } %>
    <% end %>
  </span>
</li>