<% provide(:title, 'All Episodes') %>
<section class="text-gray-600">
  <div class="container p-8 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="md:w-1/2 w-full mb-6 md:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">エピソード一覧</h1>
      </div>
      <div class="md:w-1/2 mb-6 md:mb-0">
        <%= search_form_for @q do |f| %>
          <div class="form-control">
            <div class="">
              <%= f.search_field :title_or_content_cont, placeholder: "検索キーワードを入力", class:"input input-bordered input-primary w-full mb-4" %>
            </div>
            <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
              <input type="checkbox" /> 
              <div class="collapse-title text-xl font-medium">
                資質で検索する
              </div>
              <div class="collapse-content"> 
                <%= f.collection_check_boxes :tags_id_in, Tag.all, :id, :name, {include_hidden: false} do |tag| %>
                  <%= render 'tags/containing_element', tag: tag %>
                  <%= tag.label do %>
                    <%= tag.check_box %>
                    <%= tag.text %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="flex">
              <%= f.submit '検索', class:"btn btn-primary btn-square  w-1/2 lg:w-2/12 my-4" %>
              <%= link_to "リセット", episodes_path, class: "btn btn-outline btn-primary btn-square w-1/2 lg:w-2/12 my-4 mx-8" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="relative">
      <div id="episodes" class="absolute">
        <%# 今のページの`<turbo-frame>` %>
        <%= turbo_frame_tag "episodes-page-#{@episodes.current_page}" do %>
        <%# 今のページで取得したエピソード一覧 %>
        <div class="md:flex md:flex-wrap -m-4 my-4">
          <%= render @episodes %>
        </div>
        <%# 遅延読み込みで次ページを取得する`<turbo-frame>` %>
        <%= turbo_frame_tag "episodes-page-#{@episodes.next_page}", loading: :lazy, src: path_to_next_page(@episodes) %>
        <% end %>
      </div>
      <div class="absolute">
        <%= render 'shared/back_button' %>
      </div>
    </div>
  </div>
</section>