<% provide(:title, 'エピソード') %>
<h1>エピソード詳細画面</h1>

<% if @episode.user.profile_icon.attached? %>
  <%= image_tag @episode.user.profile_icon.variant(:display) %>
<% end %>
<h3><%= link_to @episode.user.name, @episode.user %></h3>
<h3><%= @episode.content %></h3>

<% @episode.tags.each do |tag| %>
  <h4><%= tag.name %></h4>
<% end %>

<%= form_with model: @tag_relation, url: tag_relations_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :episode_id, value: @episode.id %>

  <div class='form-group'>
    <%= f.collection_check_boxes(:tag_id, Tag.all, :id, :name, {include_hidden: false}) do |tag| %>
      <%= tag.label do %>
        <%= tag.check_box class:"btn-check", id:"btn-check#{ tag }", autocomplete:"off" %>
        <label class="btn btn-primary" for="btn-check<%= tag %>">
          <%= tag.text %>
        </label>
      <% end %>
    <% end %>
  </div>

  <%= f.submit "資質を選択する", class: "btn btn-primary" %>
<% end %>