<% provide(:title, 'Admin All users') %>
<h1>【管理者画面】ユーザー一覧</h1>

  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, 'ユーザー検索' %>
    <%= f.search_field :name_cont %>
    <%= f.submit '検索' %>
    <%= link_to "リセット", users_path, class: "btn btn-outline-secondary" %>
  <% end %>

<%= will_paginate %>

<ul class="users">
<% @users.each do |user| %>
  <li>
    <% if user.profile_icon.attached? %>
      <%= image_tag user.profile_icon.variant(:display) %>
    <% end %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, data: { "turbo-method": :delete,
                                            turbo_confirm: "本当に削除しますか？" } %>
    <% end %>
  </li>
<% end %>
</ul>

<%= will_paginate %>