<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to"StrengthsApp", root_path,class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <% if logged_in? %>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to "プロフィール一覧", users_path %></li>
        <li><%= link_to "エピソード一覧", episodes_path %></li>
        <li><%= link_to "新規投稿", new_episode_path %></li>
      </ul>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <%# ユーザーの画像を挿入する %>
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to "プロフィール詳細", user_path(current_user) %></li>
          <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
          <li><%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete } %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to "新規登録", signup_path %></li>
        <li><%= link_to "ログイン", login_path %></li>
      </ul>
    </div>
  <% end %>
</div>